<mat-toolbar class="align-items">{{'tooltip.concentrators' | translate}}</mat-toolbar>

<mat-form-field id="filter">
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="{{'search' | translate}}"
    />
</mat-form-field>
<button mat-stroked-button color="primary" (click)="displayFilter()">
    <mat-icon color="primary" >search</mat-icon>
</button>


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id_concentrador">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "study.ID" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.id_concentrador }}</td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="lvcid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
        lvcid
    </th>
    <td mat-cell *matCellDef="let element">{{ element.lvcid }}</td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="cercoVersion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
        CERCO-VER
    </th>
    <td mat-cell *matCellDef="let element">{{ element.cercoVersion }}</td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="hwVersion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
        HW-VER
    </th>
    <td mat-cell *matCellDef="let element">{{ element.hwVersion }}</td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="romVersion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
        ROM-VER
    </th>
    <td mat-cell *matCellDef="let element">{{ element.romVersion }}</td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="modemVersion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
        MODEM-VER
    </th>
    <td mat-cell *matCellDef="let element">{{ element.modemVersion }}</td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="varMem">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
        /var
    </th>
    <td mat-cell *matCellDef="let element">{{ element.varMem }}</td>
  </ng-container>
  <!-- Position Column -->
  <ng-container matColumnDef="diskMem">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
        /disk
    </th>
    <td mat-cell *matCellDef="let element">{{ element.diskMem }}</td>
  </ng-container>
  <!-- Position Column -->
  <ng-container matColumnDef="tmpn2ploadMem">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
        /tmpn2pload
    </th>
    <td mat-cell *matCellDef="let element">{{ element.tmpn2ploadMem }}</td>
  </ng-container>
  <!-- Position Column -->
  <ng-container matColumnDef="tmpDailyClousureMem">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
        /tmpdailyClosure
    </th>
    <td mat-cell *matCellDef="let element">{{ element.tmpDailyClousureMem }}</td>
  </ng-container>
  <!-- Position Column -->
  <ng-container matColumnDef="modemRebootPeriodicity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
        MODEM-REBOOT-PERIODICITY
    </th>
    <td mat-cell *matCellDef="let element">{{ element.modemRebootPeriodicity }}</td>
  </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="cercoRebootPeriodicity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            CERCO-REBOOT-PERIODICITY
        </th>
        <td mat-cell *matCellDef="let element">{{ element.cercoRebootPeriodicity }}</td>
      </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[10, 50, 100]"
  showFirstLastButtons
></mat-paginator>
