.mat-card {
  text-align: -webkit-center;
}

.demo-toolbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.demo-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.demo-half-width-centered {
  width: 50%;
}



body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.content-center {
  text-align: -webkit-center;
}



#title {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
#stepper {
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
  flex: 1;
  justify-content: center;
  margin: auto;
}

#step {
  text-align: center;
}


.radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 40%;
  
}
.task-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 40%;

}

.radio-group-header {
  display: flex;
  flex-direction: row;
  margin: 20px 40%;  
}

.radio-button {
  margin: 0 5px;
}

mat-form-field {
  margin-left: 15px;
  width: 20%

}


form {
  padding-top: 10%;
}
#CERCOSelection {
  padding-top:5%;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  text-align: center;
}



.short-width{
  width: 10%
}


.valign{
  display: flex;
  flex-direction: column;
}

.numberCircle {
  width: 24px;
  line-height: 24px;
  border-radius: 100%;
  text-align: center;
  font-size: 16px;
  background-color: rgba(0,0,0,.54);
  color: white;
  
}

td.mat-cell {
  padding-right: 5px;

}



#blue-snackbar {
  background: #2196F3;
  color: white
}