<table mat-table [dataSource]="communication" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

  <!-- name Column -->

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>{{ "study.name" | translate }}</th>
    <td mat-cell *matCellDef="let element">
      <span> {{ "result." + element.name | translate }}</span>
    </td>
  </ng-container>

  <!-- amount Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>{{ "study.amount" | translate }}</th>
    <td mat-cell *matCellDef="let element">      <span *ngIf="element.amount == null  && element.name != 'Pendientes'"><img src="assets/img/perfect.png"
      /></span>{{ element.amount }}</td>
  </ng-container>

  <!-- percentage Column -->
  <ng-container matColumnDef="percentage">
    <th mat-header-cell *matHeaderCellDef>
      {{ "study.percentage" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.name != 'total' && element.amount != null"
        >{{
          (element.amount / study.total) * 100 | number: ".2-2"
        }}%</span
      >

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="communicationDisplayedColumns"></tr>
  <tr
    mat-row
    [ngClass]="{
      'make-green': row.name == 'Finalizado correctamente',
      'make-red': row.name == 'Inaccesibles',
      'make-orange': row.name == 'Pendientes'
    }"
    *matRowDef="let row; columns: communicationDisplayedColumns"
  ></tr>
</table>

<div style="display: flex;">
  <div
    id="chartCommunicationContainer"
    style="height: 650px; width:100%; margin-top: 32px"
  ></div>
</div>



