<div id="title">{{ "study.form.title" | translate }}</div>
<mat-horizontal-stepper [linear]="isLinear" #stepper id="stepper">
  <mat-step [stepControl]="studyFormGroup">
    <ng-template matStepLabel>{{ "study.form.study" | translate }}
    </ng-template>
    <studyStep [studyFormGroup]="studyFormGroup"></studyStep>
  </mat-step>


  <!--------------------------------------------- Cerco selection (Packages) Step------------------------------------------------------------------->
  <mat-step [stepControl]="targetsFormGroup">
    <ng-template matStepLabel>{{
          "study.form.selectCERCO" | translate
        }}</ng-template>
    <targetStep [targetsFormGroup]="targetsFormGroup"></targetStep>
  </mat-step>

  <!--------------------------------------------- Settings Step------------------------------------------------------------------->

  <mat-step [stepControl]="settingsFormGroup">
    <ng-template matStepLabel>{{
          "study.form.settings" | translate
        }}</ng-template>
    <settingsStep [settingsFormGroup]="settingsFormGroup"></settingsStep>

  </mat-step>
  <!--------------------------------------------- Task Step------------------------------------------------------------------->

  <mat-step [stepControl]="tasksFormGroup">
    <ng-template matStepLabel>{{
          "study.form.issues" | translate
        }}</ng-template>
    <tasksStep [issues]="issues" [tasksFormGroup]="tasksFormGroup"></tasksStep>
  </mat-step>


  <!---------------------------------------------- Resume Step -------------------------------------------------------------------->
  <mat-step>
    <ng-template matStepLabel>{{ "study.form.done" | translate }}</ng-template>
    <studyOverview [studyFormGroup]="studyFormGroup" [targetsFormGroup]="targetsFormGroup" [settingsFormGroup]="settingsFormGroup" [tasksFormGroup]="tasksFormGroup"></studyOverview>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="onSubmit()">Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

{{ tasksFormGroup.value.detect }}

{{ settingsFormGroup.value.settingsMode }}