<mat-toolbar class="align-items">{{ study.nombre }}</mat-toolbar>

<mat-tab-group>
  <mat-tab label="{{ 'result.analisisComunicaciones' | translate }}">
      <ng-template matTabContent>
   <communication [communication]="communication" [study]="study"></communication>
  </ng-template>
  </mat-tab>

  <!------------------------------------------------------------------------>
  <mat-tab label="{{ 'result.issuesAnalysis' | translate }}">
    <ng-template matTabContent>
      <issues [issues]="issues" [study]="study"></issues>
    </ng-template>
  </mat-tab>
</mat-tab-group>
