<mat-toolbar class="align-items">{{'tooltip.studies' | translate}}</mat-toolbar>
<mat-form-field id="filter" style="display: none;">
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="{{'search' | translate}}"
  />
</mat-form-field>
<button mat-stroked-button color="primary" (click)="routeToCreation()">
    <mat-icon color="primary" >add</mat-icon>
</button>
<button mat-stroked-button color="primary" (click)="displayFilter()">
    <mat-icon color="primary" >search</mat-icon>
</button>
<button mat-stroked-button color="primary" (click)="refresh()"><mat-icon>cached</mat-icon></button>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id_estudio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "study.ID" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.id_estudio }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "study.NAME" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="fecha_insercion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "study.DATE" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.fecha_insercion | date: "medium" }}
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "study.TARGETS" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.total }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="n_ciclos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "study.tipoEjecucion" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.n_ciclos == 1" style="padding-left: 15px"
        ><mat-icon>arrow_right_alt</mat-icon></span>
      <span *ngIf="element.n_ciclos != 1" style="padding-left: 15px"
        ><mat-icon>loop</mat-icon></span>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="ciclo_actual">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "study.currentLoopNumber" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.ciclo_actual }}
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="fecha_incicio_ciclo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "study.currentLoopStart" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.fecha_inicio_ciclo | date: "medium" }}
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="progreso">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "study.progress" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-progress-bar
        color="warn"
        *ngIf="element.finalizado_cerco / element.total < 1"
        value="{{ element.progreso * 100 }}"
      ></mat-progress-bar>
      <mat-progress-bar
        *ngIf="element.finalizado_cerco / element.total == 1"
        color="primary"
        value="{{ element.progreso * 100 }}"
      ></mat-progress-bar
      >{{ element.progreso * 100 | number: ".2-2" }}%
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    [routerLink]
    (dblclick)="routeToDetails(row)"
    style="cursor: pointer"
  ></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[25, 50, 100]"
  showFirstLastButtons
></mat-paginator>
