#chartIssuesContainer {
  min-height: 35vh; width:100%; margin-top:1px;
}

:host ::ng-deep .mat-sort-header-container { 
  display: flex;  
  justify-content: space-evenly; 
  
}

th.mat-header-cell, td.mat-cell { 
  text-align: center;
  width: 5%
}


mat-tab-body-content {
  margin-top: 0px;
 
  
}

