<table mat-table [dataSource]="[communication]" class="mat-elevation-z8">


  <ng-container *ngFor="let col of communicationDisplayedColumns | keyvalue" matColumnDef="{{col.value}}">
    <th mat-header-cell *matHeaderCellDef>{{"result."+col.value | translate}}</th>
    <td mat-cell *matCellDef="let element" [ngClass]="{
      'make-green': col.value == 'Finalizado correctamente',
      'make-red': col.value == 'no accedido',
      'make-orange': col.value == 'pendiente',
      'make-blue': col.value == 'total'
    }">
      {{element[col.value]}}
    </td>
  </ng-container>
  <tr
    mat-header-row
    *matHeaderRowDef="communicationDisplayedColumns"
    style="border-style: dotted dashed solid double;"
  ></tr>
  <tr mat-row *matRowDef="let row; columns: communicationDisplayedColumns;"></tr>
  
</table>

<div class="flex">
  <div
    id="chartCommunicationContainer"
  ></div>
</div>



