.topbar {
    position: fixed;
    z-index: 100;
    width: 100% !important;
  }
  

  .welcome {
    position: fixed;
    z-index: 100;
    width: 100% !important;
    height: 64px;
    text-align: center;
    font-size: 50px}
  

  